<script lang="ts" setup>
// import DeclarativeRendering from './components/DeclarativeRendering.vue'
// import AttributeBindings from './components/AttributeBindings.vue'
// import EventListeners from './components/EventListeners.vue'
// import FormBindins from './components/FormBindins.vue'
// import ConditionalRendering from './components/ConditionalRendering.vue'
// import ListRendering from './components/ListRendering.vue'

import BMIView from './views/BMIView.vue'

</script>
<template>
  <!-- <h1>Hello World</h1>
  <ListRendering />
  <ConditionalRendering />
  <DeclarativeRendering />
  <AttributeBindings />
  <EventListeners />
  <FormBindins /> -->

  <BMIView />

</template>