<script lang="ts" setup>
import { reactive, ref } from 'vue';

const dynamicId = ref('MyID')
const titleClass = ref('red')
const Myclasses = reactive({
    red: true,
    bold: true,
    underline: true
}) 
Myclasses.red = false
const Mystyle = reactive({
    fontSize: '15pt',
    border: '2pt',
    borderStyle: 'solid'
})
</script>

<template>
    <!-- <div v-bind:id = "dynamicId" v-bind:class = "titleClass"> ใส่ : นำหน้า = v-bind-->
    <div :id = "dynamicId" :class = "Myclasses" :style="Mystyle">{{ dynamicId }}</div>
</template>

<style scoped>
.red{
    color: red;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
</style>