<script lang="ts" setup>
import { reactive, ref } from 'vue'


const counter = reactive({
    count: 0
})
console.log(counter.count)
counter.count++

const message = ref('Hello World')
console.log(message.value)
message.value = 'changed'

</script>

<template>
    <h1>{{ message }}</h1>                                 <!--changed-->
    <h2>{{ message.split('').reverse().join('') }}</h2>    <!--degnahc-->
    <p>conut is:{{ counter.count }}</p>
</template>

<script scoped>
</script>