<script lang="ts" setup>
import { reactive, ref, watch } from 'vue';

const count = ref(0)
function increment() {
    count.value++
}

const Myclasses = reactive({
    red: true,
    bold: true,
    underline: true
})

watch(count , function (newCount, oldCount) {
    console.log(`Count changed ${newCount} -> ${oldCount}`)
    
})
</script>

<template> 
     <!-- @ = v-on , : = v-bind -->
    <button @click ="increment()" :class = "Myclasses">conut is:{{ count }}</button><br />
    <pre>{{ Myclasses }}</pre><br />
    <button @click = "Myclasses.red = !Myclasses.red">red</button>  <!-- Myclasses.red = !Myclasses.red   true = false-->
    <button @click = "Myclasses.bold = !Myclasses.bold">bold</button>
    <button @click = "Myclasses.underline = !Myclasses.underline">underline</button>
</template>

<style scoped>
.red{
    color: red;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
</style>